.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.logo-image {
  max-width: 300px;
  width: 80%;
  height: auto;
}

.logo-image-small {
  max-width: 150px;
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}